@charset "UTF-8";


header{

     text-align: center;
    background-color: #011311;
    color: white;
   
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(to right ,#012626 ,#01403A);
    
}
#maconha{
 text-align: center;
    color: white;
   margin-top: 40px;
    font-size: 52px;
    margin-bottom: 50PX;
    background-color: #07aa9a;

}
main{
  text-align: center;
  color: black;
  margin-top: 20px;
    padding: 20px;
     background-color: white;
     border-radius: 20px;
     font-size: 50px;
     margin-left: 90px;
     margin-right: 90Px;
     width: 700PX;
     text-align: center;
     margin: auto;
     box-shadow: 0PX 0PX 10PX black;
}
footer{
    padding: 20PX;
    text-align: right;
}
a{
    
    color: white;
    font-size: 30px;
    text-decoration: none;
    
    

}
a:hover{
    background-color: rgb(210, 233, 227);
    color: #000000;
}
a:active{

    background-color: yellowgreen;
}